doctype html
html
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='text/javascript', src='/javascripts/script.js')
  body
    block content
