extends layout

block content
	h1= title
	p #{title}...

	form(action='/shops/save', method='post', enctype='multipart/form-data')
		| Name: 
		input(type='text', name='name')
		br
		| Explanation: 
		input(type='text', name='explanation')
		br
		| Images: 
		input(type='file', name='images', accept='image/*', multiple='true')
		br
		| Style: 
		input(type='number', name='style')
		br
		input(type='submit', value='Submit')
